.inputStyles {
  background: var(--gray-500);
  outline: none;
  border: 1px solid var(--gray-700);
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  color: var(--gray-300);
  transition: all 0.2s ease;
}

.inputStyles:focus {
  border-color: var(--purple-400);
  color: var(--gray-100);
}
