.button {
  padding: 1rem;
  outline: none;
  background: var(--blue-300);
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  color: var(--gray-100);
  transition: all 0.2s ease;
  cursor: pointer;
  margin-left: 0.5rem;
}

.button:hover {
  background: var(--blue-200);
}
