.container {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  width: 100%;
}

.containerwrapper {
  width: 100%;
  max-width: 43.75rem;
  margin: -2rem 3rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4.188rem;
}
